<a href="https://colab.research.google.com/github/shubhambhatia2103/BeautifulSoup-Keith-Galli/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

# **Basic Operations**


Pandas provides a wide range of operations for data manipulation:

**Selecting Data**

You can select specific columns from your DataFrame like this:

In [5]:
data = {"Name": ['Alice', 'Bob', 'Charlie'],
        "Age": [25, 30, 35]}

df = pd.DataFrame(data)
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [7]:
# Select the 'Name' column
names = df['Name']
print(names)

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

In [8]:
# Select the 'Age' column
age = df['Age']
print(age)

0    25
1    30
2    35
Name: Age, dtype: int64

In [11]:
# Select individuals older than 28

filtered_data = df[df['Age'] > 28]
print(filtered_data)

      Name  Age
1      Bob   30
2  Charlie   35

**Grouping Data**

Pandas makes it easy to group and aggregate data:

In [16]:
# Group by age and calculate the average for numeric columns only
grouped_data = df.groupby('Age').mean(numeric_only=True)
print(grouped_data)

Empty DataFrame
Columns: []
Index: [25, 30, 35]